:root {
  --color-one: #ffff;
  --color-two: #02b4d2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #e0a1d8;
  height: 100vh;
  overflow: hidden;
}
.container {
  margin-top: 3.5rem;
  margin-left: 10.5rem;
  width: 80%;
  height: 87%;
  background-color: var(--color-one);
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.table {
  width: 100%;
}
.left-secction {
  margin: 0;
  text-align: center;
  height: 38rem;
  background-color: var(--color-two);
  padding: 30px;
  width: 50%;
}
.right-secction {
  height: 37rem;
  text-align: center;
  background-color: var(--color-one);
  padding: 40px;
  vertical-align: top;
  width: 49%;
}
.required {
  margin: 0px 0px 5px 40px;
  text-align: left;
  color: rgba(54, 54, 54, 0.733);
}
.title-contact,
p {
  color: var(--color-one);
}
h1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 3.5rem;
  margin-top: 1rem;
}
.contact p {
  font-size: 2rem;
  margin-bottom: 20px;
  /* line-height: 1.4; */
}
.form-group {
  margin-bottom: 5px;
}
input,
textarea {
  background-color: rgb(209, 209, 209);
  width: 80%;
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.submit-btn {
  background-color: var(--color-two);
  color: var(--color-one);
  border: none;
  padding: 15px 40px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
